alias ls='ls --color'
alias ll='ls -alF'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias c='xclip -selection clipboard'

# use instead of pipenv shell on zsh, not activating otherwise
alias pips='pipenv shell --fancy'

# OpenHue
alias h='openhue set room Chambre -b'

# KDE
alias r='systemctl --user restart plasma-plasmashell'
alias rr='plasmashell --replace && systemctl --user restart plasma-plasmashell'

# Yay
alias y='yay -S'
alias yr='yay -R'
alias ys='yay -Ss'
alias yaya='yay -S --aur'
alias yayr='yay -S --repo'

# Neovim
alias vim='nvim'
alias vi='nvim'

# Libreoffice
alias lc='libreoffice --calc'
