alias ls='ls --color'
alias ll='ls -alF'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias c='xclip -selection clipboard'

# use instead of pipenv shell on zsh, not activating otherwise
alias pips='pipenv shell --fancy'

# OpenHue
alias h='openhue set room Chambre -b'

# KDE
alias r='systemctl --user restart plasma-plasmashell'

# Arch
alias y='yay -S'
alias yr='yay -R'
alias yaya='yay -S --aur'
alias yayr='yay -S --repo'
