@import 'mocha.css';

/* ========================================================================== */
/*                                   GENERAL                                  */
/* ========================================================================== */

* {
	/* font-family: JetBrainsMonoNerdFont; */
	font-size: 18px;
	font-weight: bold;
	border: none;
	min-height: 30px;
}

window#waybar {
	background-color: transparent;
}

tooltip {
	background: @crust;
}

/* ========================================================================== */
/*                              WORKSPACES STUFF                              */
/* ========================================================================== */

#workspaces {
	all: unset;
	font-size: 50px;
	padding: 0px 5px;
	text-shadow: none;
	color: transparent;
	font-size: 50px;
}

#workspaces button {
	all: unset;
	color: black;
	margin: 0px 3px;
	padding: 0px 4px 0px 0px;
	text-shadow: none;
	background: @sky;
	border-radius: 50%;
	min-width: 26px;
}

#workspaces button.empty {
	color: white;
	background: @surface1
}

#workspaces button.visible {
	color: black;
	background: @pink;
}

#workspaces button.active {
	color: black;
	border: none;
	padding: 0px 2px;
	border-radius: 10px;
	background: @pink;
	min-width: 60px;
}

#workspaces button:hover {
	color: black;
	background: @red;
}

/* ========================================================================== */
/*                                   LAYOUT                                   */
/* ========================================================================== */

/* ---------------------------------- LEFT ---------------------------------- */
#disk,
#pulseaudio,
#bluetooth {
	background-color: rgba(15, 27, 53, 0.8);
	margin-top: 6px;
	margin-left: 6px;
	padding: 4px 2px;
	border-radius: 10px 0 0 10px;
	border-width: 0px;
}

/* --------------------------------- MIDDLE --------------------------------- */
#cpu,
#custom-notification,
#clock {
	background-color: rgba(15, 27, 53, 0.8);
	margin-top: 6px;
	padding: 4px 2px;
	border-width: 0px;
}

/* ---------------------------------- RIGHT --------------------------------- */
#memory,
#network,
#custom-power {
	background-color: rgba(15, 27, 53, 0.8);
	margin-top: 6px;
	margin-right: 6px;
	padding: 4px 2px;
	border-radius: 0 10px 10px 0;
	border-width: 0px;
}

/* ----------------------------- SINGLE ELEMENT ----------------------------- */
#tray,
#window,
#custom-media,
#workspaces {
	background-color: rgba(15, 27, 53, 0.8);
	margin-top: 6px;
	margin-right: 6px;
	margin-left: 6px;
	margin-right: 6px;
	padding: 4px 2px;
	border-radius: 10px;
	border-width: 0px;
}

/* ========================================================================== */
/*                                  ELEMENTS                                  */
/* ========================================================================== */

#custom-launcher {
	padding-left: 10px;
	padding-right: 5px;
	color: @sapphire;
}

#disk {
	padding-left: 10px;
	padding-right: 10px;
	color: @lavender;
}

#cpu {
	padding-left: 10px;
	padding-right: 10px;
	color: @sapphire;
}

#memory {
	padding-left: 10px;
	padding-right: 10px;
	color: @green;
}

#bluetooth {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

#network {
	font-size: 18px;
	padding-left: 10px;
	padding-right: 18px;
	color: white;
}

#tray {
	padding-left: 10px;
	padding-right: 10px;
}

#window {
	padding-left: 10px;
	padding-right: 10px;
	color: @maroon;
}

#custom-media {
	padding-left: 10px;
	padding-right: 10px;
	color: @sky;
}

#pulseaudio {
	padding-left: 10px;
	padding-right: 10px;
	color: @green;
}

#battery {
	padding-left: 10px;
	padding-right: 10px;
	color: @green;
}

#battery.charging,
#battery.plugged {
	color: @peach;
}

#battery.critical:not(.charging) {
	color: @red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#backlight {
	padding-left: 10px;
	padding-right: 10px;
	color: @peach;
}

#clock {
	padding-left: 10px;
	padding-right: 10px;
	color: @yellow;
}

#custom-notification {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: @peach;
}

#custom-power {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 3px;
	color: @red;
}

/* ========================================================================== */
/*                                    OTHER                                   */
/* ========================================================================== */

#custom-expand {
	padding-left: 10px;
	padding-right: 10px;
}

#network.disconnected,
#bluetooth.off,
#bluetooth.disabled {
	color: @red;
}

#network,
#bluetooth.on {
	color: @sky;
}